

.form{
    background-color: aliceblue;
    border-radius: 5px;
    width: 650px;
    margin: 20px auto;
    padding: 20px;

}

.form-body{
    text-align: left;
    font-family: 'Montserrat';
    padding: 20px 10px;
}

.form-body > *{
    padding: 5px;
}

.form__label{
    width: 40%;
}

.form_input{
    width: 60%;
}

.footer{
    text-align: center;
}