.heading-container {
    height: fit-content;
    background-color: #645CBB;
    box-sizing: border-box;
    padding: 3%;
    margin: 1%;
    border-radius: 10px;
    flex-wrap: wrap;
  }
  
  .course-heading {
    font-size: 2.5em;
    font-family: Montserrat;
    font-weight: 800;
    color: white;
  }
  
  .body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
  }
  
  .body-container p {
    margin: 10px 0;
    font-size:larger;
    font-weight: 600;
  }
  
  .grade {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 1.2em;
    color: #645CBB;
  }
  
  .completion-status {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 1em;
    color: #645CBB;
  }
  
  .course-back-btn {
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: 0px;
    font-family: Montserrat;
    font-weight: 700;
    color: #645CBB;
    font-size: 15px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .course-back-btn:hover {
    background-color: #645CBB;
    color: white;
  }
  