.title {
    min-height: 6vh;
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center; 
  }
  
    
    .text,
    
    .option {
      flex: 1;
      margin: 0px;
      padding: 0px;
      font-family: 'Montserrat', sans-serif;
      user-select: none;
    }
    
    .option {
      font-size: 15px;
      font-weight: 500;
      color: white;
    }
    
    .page-name {
      margin-inline: 20px;
      
      font-size: 20px;
      font-weight: 700;
      color: #645CBB;
    }
    
    
    
    .back {
      height: 10px;
    }
    
    .options {
      min-height: 6vh;
      display: flex;
      flex-direction: row;
      text-align: center;
    }
    
    .view {
      display: flex;
      background-color: #645CBB;
      flex: 1;
      align-items: center;
      justify-content: center;
    }
    
    .add {
      display: flex;
      background-color: #645CBB;
      flex: 1;
      align-items: center;
      justify-content: center;
    }
    
    .content{
      height: 100vh;
      display: flex;
      flex-direction: column;
      overflow-y: hidden;
      
  }
    
    a {
      text-decoration: none;
    }