.container{
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  border: 0px;
  min-height: 100vh;
  width: 100%;
}
.header{
  height: 10vh;
  display: flex;
  background-color: #645CBB;
  align-items: center;
}

.body{
  height: 90vh;
  display: flex;
  flex-direction: column;
}
.option.active{
  color: #645CBB;
  font-weight: 800;
}
