.title{
    min-height: 6vh;
    display: flex;
    flex-direction: row;
    background-color:  white;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
}
.text, .page-name, .option{
    flex: 1;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    
    user-select: none;
}
.option{
    font-size: 15px;
    font-weight: 500; 
    color: white;
}
.page-name{
    margin-inline: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #645CBB;
}
.back-btn{
    display: flex;
    align-items: center;
    padding: 3px 10px;
    margin-inline: 20px;
    border: 1px solid black;
    border-radius: 15px;
}
.back{
    height: 10px;
}
.course-options{
    min-height: 6vh;
    display: flex;
    flex-direction: row;
    text-align: center;
    text-decoration: none;
}
.course-view{
    display: flex;
    background-color: #8294c4a4;
    flex: 1;
    align-items: center;
    justify-content: center;
    border-right: 3px solid #645CBB;
    text-decoration: none;
}
.course-add{
    display: flex;
    background-color: #8294c4a4;
    flex:1;
    align-items: center;
    justify-content: center;
    text-decoration: none;
     
}
.coursemanagement-content{
    height: 78vh;
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
}
NavLink {
    text-decoration: none;
}