.sub-container{
    height: 78vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.search{
    width: 100%;
}
.search-form{
    width: calc(100% - 20px);
    margin: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.search-bar {
    height: 6vh;
    width: 85%;
    border: none;
    background-color: #8294c439;
    border-radius: 10px;
    padding-inline-start: 2%;
    margin: 0px;  outline: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #645CBB;
}

.butn{
    width: 10%;
    height: 5vh;
    border: 0px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2vw;
    font-weight: 800;
    color: #645CBB ;
    background-color: #8294c4a4;
}
.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9vw;
    min-width: 100%;
    font-family: 'montserrat';
    margin: 0px;
}
.content-table thead {
    background-color: #645CBB;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    vertical-align: middle;
    height: auto;
}
.content-table th, .content-table td{
    padding: 20px 15px;
    margin: 0px;
}

.content-table tbody tr{
    border-bottom: 1px solid #8294c4a4;
}

.content-table tbody tr:nth-of-type(even){
    background-color:#8294c439;
}
.content-table tbody tr:active-row{
    font-weight: bold;
    color: #645CBB;
}
.action{
    display: flex;
    align-items: center;
    align-content: center;
    gap: 10px;
}
.list{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
@media only screen and (max-width: 1000px) {
    .content-table{
        font-size: 1.3vw;
    }
}
@media only screen and (max-width: 700px) {
    .content-table{
        font-size: 1.4vw;
    }
}